/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
// Multi select Dropdown
@import "~angular2-multiselect-dropdown/themes/default.theme.css";

body{
    background-color: #f8f9fa;
}
.card {
    margin-top: 5%;
    width: 30%;
    margin-left: 35%;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
